/*body*/
body {
  margin: 0;
  overflow: hidden;
}

/*#info*/
#info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 16px;
  border-radius: 4px;
}